<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myproject.wallet.domain.mapper.TransactionMapper">

    <!-- 查询通过 sourceWalletId -->
    <select id="findBySourceWalletId" resultType="myproject.wallet.domain.transaction.entity.Transaction">
        SELECT id, source_wallet_id, target_wallet_id, amount
        FROM transaction
        WHERE source_wallet_id = #{sourceWalletId}
    </select>

    <!-- 查询通过 targetWalletId -->
    <select id="findByTargetWalletId" resultType="myproject.wallet.domain.transaction.entity.Transaction">
        SELECT id, source_wallet_id, target_wallet_id, amount
        FROM transaction
        WHERE target_wallet_id = #{targetWalletId}
    </select>

    <!-- 查询通过 transactionId 和 sourceWalletId -->
    <select id="findByIdAndSourceWalletId" resultType="myproject.wallet.domain.transaction.entity.Transaction">
        SELECT id, source_wallet_id, target_wallet_id, amount
        FROM transaction
        WHERE id = #{transactionId} AND source_wallet_id = #{sourceWalletId}
    </select>

    <!-- 查询通过 transactionId 和 targetWalletId -->
    <select id="findByIdAndTargetWalletId" resultType="myproject.wallet.domain.transaction.entity.Transaction">
        SELECT id, source_wallet_id, target_wallet_id, amount
        FROM transaction
        WHERE id = #{transactionId} AND target_wallet_id = #{targetWalletId}
    </select>

    <!-- 检查是否存在通过 transactionId 和 sourceWalletId -->
    <select id="existsByIdAndSourceWalletId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM transaction
        WHERE id = #{transactionId} AND source_wallet_id = #{sourceWalletId}
    </select>

    <!-- 检查是否存在通过 transactionId 和 targetWalletId -->
    <select id="existsByIdAndTargetWalletId" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM transaction
        WHERE id = #{transactionId} AND target_wallet_id = #{targetWalletId}
    </select>

    <!-- 插入交易记录 -->
    <insert id="save" parameterType="myproject.wallet.domain.transaction.entity.Transaction">
        INSERT INTO transaction (source_wallet_id, target_wallet_id, amount)
        VALUES (#{sourceWalletId}, #{targetWalletId}, #{amount})
    </insert>
</mapper>
