<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="myproject.wallet.infrastructure.typehandler.MoneyTypeHandler" javaType="myproject.wallet.domain.valueobject.Money"/>
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/wallet"/>
                <property name="username" value="root"/>
                <property name="password" value="as09142455906897"/>
            </dataSource>
        </environment>
    </environments>
</configuration>
