<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myproject.wallet.domain.mapper.WalletMapper">

    <insert id="save" parameterType="myproject.wallet.domain.wallet.entity.Wallet" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO wallet (user_id, balance)
        VALUES (#{userId}, #{balance, typeHandler=myproject.wallet.infrastructure.typehandler.MoneyTypeHandler})
    </insert>

    <select id="findById" resultType="myproject.wallet.domain.wallet.entity.Wallet">
        SELECT id, user_id, balance
        FROM wallet
        WHERE id = #{walletId}
    </select>

    <select id="findByUserId" resultType="myproject.wallet.domain.wallet.entity.Wallet">
        SELECT id, user_id, balance
        FROM wallet
        WHERE user_id = #{userId}
    </select>

    <select id="existsById" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM wallet
        WHERE id = #{id}
    </select>

    <delete id="deleteById">
        DELETE
        FROM wallet
        WHERE id = #{id}
    </delete>

    <select id="findAll" resultType="myproject.wallet.domain.wallet.entity.Wallet">
        SELECT *
        FROM wallet
    </select>

</mapper>
